*{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header {
    width: 800px;
    height: 300px;
    background-color: #EEE;;
    margin: 40px auto;
}

.count {
    background-color: rgb(21, 108, 207);
    color: white;
    padding: 20px 50px;
    text-align: center;
    
}



.category {
    background-color: rgb(136, 136, 136);
    color: white;
    height: 50px;
    padding: 10px 25px;
}



.submit {
    background-color: rgb(21, 108, 207);
    color: #EEE;
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    cursor: pointer;

}

.choice {
    height: auto;
    display: block;
    padding: 20px 10px;
    
    
}

.question {
    font-size: medium;
    font-weight: bold;
   

}

.timer {
    padding: 50px 50px;
    background-color:#EEE;
    color: black;


}



  .round {
     
    width: 20px;
    height: 20px;
    border-radius:100%;
    background-color: white;
    margin: auto 1px;
    float: right;
    top:-70px;
    position: relative;
    /* margin-right: 100px; */
    /* margin-top: -40px;
    margin-left: 40px;
     */
 
 
} 


.timo {
    margin-right: 20px;
}

.backo {
    background-color: rgb(21, 108, 207);
}